@import "tailwindcss";

@layer components {
  .footer-title {
    @apply text-black text-lg font-semibold mb-5;
  }
  
  .footer-links {
    @apply gap-2.5 text-gray-600 font-medium;
  }

  .footer-links a {
    @apply relative duration-300 hover:text-white transition-colors;
    @apply after:content-[''] after:absolute after:w-full after:h-1.5 after:rounded-lg;
    @apply after:bg-white after:-bottom-1 after:left-0;
    @apply after:scale-x-0 after:origin-left after:transition-transform after:duration-300 after:ease-out;
    @apply hover:after:scale-x-100
  }
}
